# PyTorch
torch
torchvision
torchreid

# PaddlePaddle, TensorBoard (Ensure Python 3.11 support) is installed beforehand 
paddleocr

# Additional libraries
cython
easyocr
deep-sort-realtime
gdown
openai-clip
sahi
# transformers