# Misc
cython
gdown

# PyTorch
torch
torchvision
torchreid

# Onnx inference - we train in notebooks
onnxruntime

# OCR
# PaddlePaddle, TensorBoard (Ensure Python 3.11 support) are installed beforehand 
paddleocr
easyocr

# Tracker, Tiler, etc
deep-sort-realtime
openai-clip
sahi

# Evaluation
python-Levenshtein